@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #f2f8f8;
  font-family: "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: "Raleway";
  font-size: 15px;
  letter-spacing: 2px;
  word-spacing: 5px;
}

h1 {
  font-size: 20px;
  font-family: "Lato";
}

.remove {
  visibility: hidden;
}

.table-rekomendasi {
  font-size: 11px;
}

tr {
  height: 30px;
}

.margin-right-table {
  width: 250px;
}

.bordered {
  border-bottom: 1px solid #625d5d;
}

.content {
  margin-top: 40px;
  margin-bottom: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
